<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="SimpleCMS testing website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="maalos">

    <title>Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/styles/user-style.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin-style.css">
</head>

<body>
    <nav>
        <p><a href="/">Home</a> &raquo; Dashboard</p>
    </nav>

    <h1>SimpleCMS</h1>
    <h2>Dashboard</h2>

    <a href="/add-post">Add post</a>
    <br>
    <a href="/add-category">Add category</a>
    <br>
    <a href="/add-user">Add user</a>
    <br>
    <br>

    <div id="container">
        <div class="container-child">
            <h3 class="center">All posts</h3>
    <% if (!posts.length) { %>
        <p class="message">No posts.</p>
        <% } else { %>
            <div class="posts-index">
                <% posts.forEach((post, index)=> { %>
                    <div class="post">
                        <h3>
                            <q><%= post.title %></q>
                        </h3>
                        <p>
                            <%= post.content.replaceAll("\r", "").replaceAll("\n", "").substring(0, 1024) + ((post.content.replaceAll("\r", "").replaceAll("\n", "<br>").length > 512) ? " [...]" : "") %>
                        </p>
                        <a href="#" <%- `onclick="confirmDelete(${index}, 'post')"` %>>Delete</a>
                        <a href="/edit-post/<%= index %>">Edit</a>
                        <a href="/posts/<%= index %>">View</a>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
    <div class="container-child">
        <div class="container-child-child">
            <h3 class="center">All categories</h3>
            <% if (!categories.length) { %>
            <p class="message">
                No categories.
            </p>
        <% } else { %>
            <div class="categories-index">
                <% categories.forEach((category, index) => { %>
                    <div class="category">
                        <h3>
                            <q><%= category.name %></q>
                        </h3>
                        <p>
                            ID: <%= category.id %>
                        </p>
                        <a href="#" <%- `onclick="confirmDelete(${index}, 'category')"` %>>Delete</a>
                        <a href="/edit-category/<%= index %>">Edit</a>
                        <a href="/categories/<%= index %>">View</a>
                    </div>
                <% }); %>
            </div>
        <% } %>
        </div>
        <div class="container-child-child">
            <h3 class="center">All users</h3>
            <% if (!users.length) { %>
            <p class="message">
                No users.
            </p>
        <% } else { %>
            <div class="users-index">
                <% users.forEach((user, index) => { %>
                    <div class="user">
                        <h3>
                            <q><%= user.username %></q>
                        </h3>
                        <p>
                            ID: <%= index %>
                            <br>
                            Role: <%= (user.isAdmin) ? "Administrator" : "User" %>
                        </p>
                        <a href="#" <%- `onclick="confirmDelete(${index}, 'user')"` %>>Delete</a>
                        <a href="/edit-user/<%= index %>">Edit</a>
                        <a href="/users/<%= index %>">View</a>
                    </div>
                <% }); %>
            </div>
        <% } %>
        </div>
    </div>
    </div>

    <script src="/scripts/utils.js" defer></script>
</body>

</html>