<section id="dashboard-create">
    <h3 class="flex-break center nomargin">Create a new...</h3>
    <a href="/posts/add">Post</a>
    <a href="/categories/add">Category</a>
    <a href="/users/add">User</a>
</section>
<hr>
<section>
    <h3 class="center">All posts</h3>
    <% if (!posts.length) { %>
        <p>No posts.</p>
    <% } else { %>
        <% posts.forEach((post, index) => { %>
            <article class="preview post">
                <h3><q><%= post.title %></q></h3>

                <p><%= post.content.replaceAll("\r", "" ).replaceAll("\n", "" ) %></p>

                <section class="admin-tools">
                    <a href="/posts/<%= index %>">View</a>
                    <a href="/posts/<%= index %>/edit">Edit</a>
                    <a href="#" <%- `onclick="confirmDelete(${index}, 'post', 'posts')" ` %>>Delete</a>
                </section>
            </article>
            <% if (index + 1 != posts.length) { // last post shouldn't have the hr %>
                <hr class="border-dashed">
            <% } %>
        <% }); %>
    <% } %>
</section>
<hr>
<section>
    <h3 class="center">All categories</h3>
    <% if (!categories.length) { %>
        <p>No categories.</p>
    <% } else { %>
        <% categories.forEach((category, index)=> { %>
            <article class="preview post">
                <h3><q><%= category.name %></q></h3>

                <p>ID: <%= category.id %></p>

                <section class="admin-tools">
                    <a href="/categories/<%= index %>">View</a>
                    <a href="/categories/<%= index %>/edit">Edit</a>
                    <a href="#" <%- `onclick="confirmDelete(${index}, 'category', 'categories')" ` %>>Delete</a>
                </section>
            </article>
            <% if (index + 1 != categories.length) { // last category shouldn't have the hr %>
                <hr class="border-dashed">
            <% } %>
        <% }); %>
    <% } %>
</section>
<hr>
<section>
    <h3 class="center">All users</h3>
    <% if (!users.length) { %>
        <p>No users.</p>
    <% } else { %>
        <% users.forEach((user, index) => { %>
            <article class="preview post">
                <h3><q><%= user.username %></q></h3>

                <p>
                    ID: <%= index %>
                    <br>
                    Role: <%= (user.isAdmin) ? "Administrator" : "User" %>
                </p>

                <section class="admin-tools">
                    <a href="/users/<%= index %>">View</a>
                    <a href="/users/<%= index %>/edit">Edit</a>
                    <a href="#" <%- `onclick="confirmDelete(${index}, 'user', 'users')" ` %>>Delete</a>
                </section>
            </article>
            <% if (index + 1 != users.length) { // last user shouldn't have the hr %>
                <hr class="border-dashed">
            <% } %>
        <% }); %>
    <% } %>
</section>
</div>
<script src="/scripts/utils.js" defer></script>