<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="ExpressCMS testing website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="maalos">

    <title>Edit post</title>

    <link rel="stylesheet" type="text/css" href="/styles/user-style.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin-style.css">
</head>

<body>
    <nav>
        <p><a href="/">Home</a> &raquo; <a href="/dashboard">Dashboard</a> &raquo; Edit Post</p>
    </nav>

    <h1>ExpressCMS</h1>
    <h2>Edit post</h2>

    <div id="post-editor-preview"></div>

    <form action="/edit-post/<%= postId %>" method="post">
        <label for="title">Title:</label>
        <br>
        <input type="text" id="title" name="title" value="<%= post.title %>" required>
        <br>
        <label for="categoryId">Category:</label>
        <br>
        <select name="categoryId" id="categoryId" required>
        <% categories.forEach((category, categoryId) => { %>
            <option value="<%= categoryId %>" <% if (categoryId == post.categoryId) { %>selected<% } %>><%= category.name %></option>
        <% }) %>
        </select>        
        <br>
        <label for="author">Author:</label>
        <br>
        <input type="text" id="author" name="author" value="<%= post.author %>" required>
        <br>
        <br>
        <label for="content-textarea">Content:</label>
        <br>
        <div id="content">
            <textarea id="content-textarea" name="content" rows="30" required><%= post.content %></textarea>
            <div id="tag-panel">
                <button onclick="iT(this, event)">b</button>
                <button onclick="iT(this, event)">i</button>
                <button onclick="iT(this, event)">u</button>
                <button onclick="iT(this, event)">s</button>
                <button onclick="iT(this, event)">ul</button>
                <button onclick="iT(this, event)">ol</button>
                <button onclick="iT(this, event)">li</button>
                <button onclick="iT(this, event)">br</button>
                <button onclick="iT(this, event)">a</button>
                <button onclick="iT(this, event)">img</button>
                <button onclick="iT(this, event)">hr</button>
                <button onclick="iT(this, event)">pre</button>
                <button onclick="iT(this, event)">q</button>
                <button onclick="iT(this, event)">sub</button>
                <button onclick="iT(this, event)">sup</button>
            </div>
        </div>
        <br>
        <br>
        <button type="submit">Save Changes</button>
    </form>

    <script src="/scripts/editor.js" defer></script>
</body>

</html>