<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="ExpressCMS testing website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="maalos">
    <meta name="theme-color" content="#000000">

    <title><%= pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/styles/user-style.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin-style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>

<body>
    <header>
        <h1>ExpressCMS</h1>
    </header>

    <hr>

    <nav>
        <%- breadcrumbs %>
        <%- logintext %>
        <%- dashboardtext %>
    </nav>

    <hr>

    <main>
        <h2><%= pageTitle %></h2>
        <%- include(contentModule) -%>
    </main>

    <hr>

    <footer>
        ExpressCMS by maalos
    </footer>
</body>

</html>