<div id="container">
<div class="container-child">
    <h3 class="center">All posts</h3>
<% if (!posts.length) { %>
    <p class="message">
        No posts.
    </p>
<% } else { %>
    <div class="posts-index">
        <% posts.forEach((post, index) => { %>
            <div class="post-preview post" onclick="location.href='/posts/<%= index %>'" >
                <h3>
                    <q><%= post.title %></q>
                </h3>
                <p>
                    <%- post.content.replaceAll("\r", "").replaceAll("\n", "") %>
                </p>
            </div>
        <% }); %>
    </div>
<% } %>
</div>
<div class="container-child">
    <h3 class="center">All categories</h3>
    <% if (!categories.length) { %>
    <p class="message">
        No categories.
    </p>
<% } else { %>
    <div class="categories-index">
        <% categories.forEach((category, index) => { %>
            <div class="category-preview category" onclick="location.href='/categories/<%= index %>'" >
                <h3>
                    <q><%= category.name %></q>
                </h3>
                <p>
                    ID: <%= category.id %>
                </p>
            </div>
        <% }); %>
    </div>
<% } %>
</div>
</div>